---

import MyLogo from '../logo/logo.jsx'
import Nav from '../navigation/navigation.astro'
import './header.css';
---

<header>
  <div class="logoNav container">
    <a href="." class="logo"><MyLogo></a>
    
    </div>
<Nav/>
</header>
